<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
{% block content %}
<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="icon" type="image/png" href="{% static 'images/icons/favicons.ico' %}"/>
  <meta name="description" content="">
  <meta name="author" content="">

  <title>3º PEDALA CENTERBOX</title>

  <!-- Bootstrap Core CSS -->
  <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

  <!-- Custom Fonts -->
  <link href="{% static 'vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
  <link href="{% static 'vendor/simple-line-icons/css/simple-line-icons.css' %}" rel="stylesheet">

  <!-- Custom CSS -->
  <link href="{% static 'css/stylish-portfolio.min.css' %}" rel="stylesheet">

</head>

<body id="page-top">

  <!-- Navigation -->
  <a class="menu-toggle rounded" href="#">
    <i class="fas fa-bars"></i>
  </a>
  <nav id="sidebar-wrapper">
    <ul class="sidebar-nav">
      <li class="sidebar-brand">
        <a class="js-scroll-trigger" href="#page-top">3º Pedala</a>
      </li>
      <li class="sidebar-nav-item">
        <a class="js-scroll-trigger" href="#page-top">Início</a>
      </li>
      <li class="sidebar-nav-item">
        <a class="js-scroll-trigger" href="#about">Sobre o evento</a>
      </li>
      <li class="sidebar-nav-item">
        <a class="js-scroll-trigger" href="#services">Como participar</a>
      </li>
      <li class="sidebar-nav-item">
        <a class="js-scroll-trigger" href="#portfolio">Edições anteriores</a>
      </li>
      <li class="sidebar-nav-item">
        <a class="js-scroll-trigger" href="#contact">Percurso</a>
      </li>
    </ul>
  </nav>

  <!-- Header -->
  <header class="masthead d-flex">
    <div class="container text-center my-auto">
      <h1 class="mb-1"><br><br><br></h1>
      <h3 class="mb-5">
        <em></em>
      </h3>
      <a class="btn btn-primary btn-xl js-scroll-trigger" href="#about">Saiba mais</a>
    </div>
    <div class="overlay"></div>
  </header>

  <!-- About -->
  <section class="content-section bg-light" id="about">
    <div class="container text-center">
      <div class="row">
        <div class="col-lg-10 mx-auto">
          <h2>3º Pedala Movement Centerbox: o melhor passeio ciclístico de Fortaleza</h2>
          <p class="lead mb-5">O Centerbox promove a 3ª edição do Pedala Moviment, passeio ciclístico que leva até as pessoas uma atividade física capaz de melhorar a vitalidade e o condicionamento físico. Buscamos incentivar nossos clientes, amigos e a qualquer cidadão de Fortaleza a terem uma vida mais saudável através de eventos como esse .
            </p>
          <a class="btn btn-dark btn-xl js-scroll-trigger" href="/cadastro">Quero participar!</a>
        </div>
      </div>
    </div>
  </section>

  <!-- Services -->
  <section class="content-section bg-primary text-white text-center" id="services">
    <div class="container">
      <div class="content-section-heading">
        <h3 class="text-secondary mb-0"></h3>
        <h2 class="mb-5">Como participar?</h2>
      </div>
      <div class="row">
        <div class="col-lg-3 col-md-6 mb-5 mb-lg-0">
          <span class="service-icon rounded-circle mx-auto mb-3">
            <i class="icon-note"></i>
          </span>
          <h4>
            <strong>Faça sua inscrição</strong>
          </h4>
          <p class="text-faded mb-0">Faça sua inscrição <br>neste site. </p>
        </div>
        <div class="col-lg-3 col-md-6 mb-5 mb-lg-0">
          <span class="service-icon rounded-circle mx-auto mb-3">
            <i class="icon-emotsmile"></i>
          </span>
          <h4>
            <strong>Faça uma doação</strong>
          </h4>
          <p class="text-faded mb-0">Doe 800g de leite (lata ou pacote) <br> em nossas lojas.</p>
        </div>
        <div class="col-lg-3 col-md-6 mb-5 mb-md-0">
          <span class="service-icon rounded-circle mx-auto mb-3">
            <i class="icon-calendar"></i>
          </span>
          <h4>
            <strong>Retire seu kit</strong>
          </h4>
          <p class="text-faded mb-0">Deixe sua doação e pegue seu kit em uma de nossas lojas, entre os dias 27/06 a 29/06.</p>
        </div>
        <div class="col-lg-3 col-md-6">
          <span class="service-icon rounded-circle mx-auto mb-3">
            <i class="icon-like"></i>
          </span>
          <h4>
            <strong>Prepare-se</strong>
          </h4>
          <p class="text-faded mb-0">Agora é só você se preparar para a pedalada que será no dia 30/06.</p>
        </div>
      </div>
    </div>
  </section>

  <!-- Callout -->
  <section class="callout">
    <div class="container text-center">
      <h2 class="mx-auto mb-5">Participe desse movimento você também!</h2>
      <a class="btn btn-primary btn-xl" href="/cadastro">QUERO ME INSCREVER!</a>
    </div>
  </section>

  <!-- Portfolio -->
  <section class="content-section" id="portfolio">
    <div class="container">
      <div class="content-section-heading text-center">
        <h3 class="text-secondary mb-0">CONHEÇA MAIS SOBRE AS</h3>
        <h2 class="mb-5">edições anteriores</h2>
      </div>
      <div class="row no-gutters">
        <div class="col-lg-6">
          <a class="portfolio-item" href="#">
            <span>
            <!--<span class="caption">-->
              <span class="caption-content">
                <h2></h2>
                <p class="mb-0"></p>
              </span>
            </span>
            <img class="img-fluid" src="{% static 'img/portfolio-1.jpg' %}" alt="">
          </a>
        </div>
        <div class="col-lg-6">
          <a class="portfolio-item" href="#">
            <span>
            <!--<span class="caption">-->
              <span class="caption-content">
                <h2></h2>
                <p class="mb-0"></p>
              </span>
            </span>
            <img class="img-fluid" src="{% static 'img/portfolio-2.jpg' %}" alt="">
          </a>
        </div>
      </div>
    </div>
  </section>

  <!-- Call to Action -->
  <section class="content-section bg-primary text-white">
    <div class="container text-center">
      <h2 class="mb-4">A doação de alimentos</h2>
      <div class="col-lg-10 mx-auto">
      <h2> <p class="lead mb-5">Direcionamos nossos esforços para que todos possam desfrutar dessas atividades em troca de uma pequena doação de alimentos, apenas 800g de leite em pó. Deste modo conseguimos trazer a consciência de que todos devemos ajudar àqueles que precisam, esse é o espírito do Pedala Moviment, vem com a gente participar dessa atividade pra lá de prazerosa. </p></h2>
    </div>
  </section>

  <!-- Map -->
  <section id="contact" class="map">
    <!--<iframe src="https://www.google.com/maps/embed?pb=!1m34!1m12!1m3!1d63698.81555817586!2d-38.554742580420864!3d-3.77185830073259!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m19!3e1!4m5!1s0x7c74f76e474c2f1%3A0x548e46b86093c68f!2sCenterbox+Supermercados+-+Av.+Bernardo+Manuel%2C+10070+-+Parque+Dois+Irm%C3%A3os%2C+Fortaleza+-+CE%2C+60761-282!3m2!1d-3.8074526!2d-38.5544566!4m5!1s0x7c748824bae3e0f%3A0xaf1955067d6d1031!2sCenterbox+Supermercados+-+Rua+Doutor+Gilberto+Studart+-+Papicu%2C+Fortaleza+-+CE!3m2!1d-3.7419629999999997!2d-38.4875511!4m5!1s0x7c74f76e474c2f1%3A0x548e46b86093c68f!2sCenterbox+Supermercados+-+Av.+Bernardo+Manuel+-+Parque+Dois+Irm%C3%A3os%2C+Fortaleza+-+CE!3m2!1d-3.8074526!2d-38.5544566!5e0!3m2!1spt-BR!2sbr!4v1557948505391!5m2!1spt-BR!2sbr" width="100%" height="100%" frameborder="0" style="border:0" allowfullscreen></iframe>-->
    <iframe src="https://www.google.com/maps/embed?pb=!1m34!1m12!1m3!1d63698.08086363314!2d-38.593860080402244!3d-3.78186894986683!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m19!3e1!4m5!1s0x7c74944ff734b9d%3A0x2fa638fb944169e3!2sCenterbox+Supermercados+-+Loja+Jos%C3%A9+Bastos+-+Avenida+Jos%C3%A9+Bastos+-+Bela+Vista%2C+Fortaleza+-+CE!3m2!1d-3.7547816!2d-38.556226699999996!4m5!1s0x7c74f76e474c2f1%3A0x548e46b86093c68f!2sCenterbox+Supermercados+-+Avenida+dos+Expedicion%C3%A1rios+-+Parque+Dois+Irm%C3%A3os%2C+Fortaleza+-+CE!3m2!1d-3.8070226999999996!2d-38.5547822!4m5!1s0x7c74944ff734b9d%3A0x2fa638fb944169e3!2sCenterbox+Supermercados+-+Loja+Jos%C3%A9+Bastos+-+Avenida+Jos%C3%A9+Bastos+-+Bela+Vista%2C+Fortaleza+-+CE!3m2!1d-3.7547816!2d-38.556226699999996!5e0!3m2!1spt-BR!2sbr!4v1559219622551!5m2!1spt-BR!2sbr" width="100%" height="100%" frameborder="0" style="border:0" allowfullscreen></iframe>
    <br />
    <small>
      <a href="https://maps.google.com/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=Twitter,+Inc.,+Market+Street,+San+Francisco,+CA&amp;aq=0&amp;oq=twitter&amp;sll=28.659344,-81.187888&amp;sspn=0.128789,0.264187&amp;ie=UTF8&amp;hq=Twitter,+Inc.,+Market+Street,+San+Francisco,+CA&amp;t=m&amp;z=15&amp;iwloc=A"></a>
      </small>
  </section>

  <!-- Footer -->
  <footer class="footer text-center">
    <div class="container">
      <ul class="list-inline mb-5">
        <li class="list-inline-item">
          <a class="social-link rounded-circle text-white mr-3" href="https://www.facebook.com/centerboxsuper/" target="_blank">
            <i class="icon-social-facebook"></i>
          </a>
        </li>
        <li class="list-inline-item">
          <a class="social-link rounded-circle text-white mr-3" href="https://www.instagram.com/centerboxsuper/" target="_blank">
            <i class="icon-social-instagram"></i>
          </a>
        </li>
        <li class="list-inline-item">
          <a class="social-link rounded-circle text-white" href="https://play.google.com/store/apps/details?id=mercadapp.fgl.com.centerbox" target="_blank">
            <i class="icon-screen-smartphone"></i>
          </a>
        </li>
      </ul>
      <p class="text-muted small mb-0">Copyright &copy; Centerbox Supermercados 2019</p>
    </div>
  </footer>

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded js-scroll-trigger" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

  <!-- Bootstrap core JavaScript -->
  <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

  <!-- Plugin JavaScript -->
  <script src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script>

  <!-- Custom scripts for this template -->
  <script src="{% static 'js/stylish-portfolio.min.js' %}"></script>

</body>
{% endblock %}
</html>
